@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@500&display=swap');

:root {
    --hidden-elements-opacity: hidden;
    --sup-width: 0;
    --sup-anim-f: 'ease-out';
    --a-color: #000;
    --a-text-decaration: none;
    --a-cursor: default;
}

body {
    overflow-x: hidden;
    background-color: #fff !important;
}

#content {
    border: none;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100vw - 22em);
    left: 0;
    right: 0;
    margin-top: 5rem !important;
    padding: 1.25em 15px 15px 15px;
}

#mw-head-base, #mw-page-base {
    display: none;
}

#mw-head {
    width: 70vw !important;
    max-width: calc(100vw - 22em) !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

#mw-head #left-navigation {
    margin-left: 0;
}

.right-menu-elems {
    margin-left: 1em;
}

.t {
    font-size: 0.85em !important;
}

#tools {
    padding-top: .5em;
    position: absolute;
    right: 0;
    top: 0;
    width: 11em;
}

.mw-editsection {
    opacity: var(--hidden-elements-opacity);
    transition: opacity 0.2s;
    font-size: 0.7em;
}

sup {
    display: inline-block;
    width: var(--sup-width);
    overflow: hidden;
}

.menu-btn {
    position: fixed;
    left: -2rem;
    top: -2rem;
    width: 4rem;
    height: 4rem;
    background-color: #80A2FF;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px #bababa !important;

    transition: border-color 0.2s;
}

.menu-btn:hover {
    background-color: #CFE3FF;
}

#firstHeading {
    font-size: 2.4em;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

.mw-headline {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

p, li, .mw-content-ltr, #content div {
    font-family: 'Roboto', sans-serif;
}

p, ul, #content div {
    font-size: 1em;
}

#right-navigation, #left-navigation {
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

#right-navigation {
    justify-content: right;
}

.infobox, .thumbinner, .wikitable, .toc, .gallerybox, .sistersitebox, .navbox, .catlinks, .barbox, .tright {
    border-radius: 0.5rem !important;
    border: none !important;
    box-shadow: 0 0 10px 3px #bababa !important;
}

.mwe-popups {
    border-radius: 0.5rem !important;
    border: none !important;
    box-shadow: 0 0 10px 5px #9a9a9a !important;
}

.barbox * {
    border-radius: 0.5rem;
    border-color: transparent;
    border: none !important;
}

.navbox-title {
    background-color: #FFF !important;
}

.navbox * {
    border-radius: .5rem !important;
}

.navbox {
    margin-bottom: 0.6rem !important;
}

.infobox * {
    border-radius: 0.5rem !important;
}

.p-personal {

}

a {
    transition: color 0.2s;
    color: var(--a-color) !important;
}
.gallery {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    margin: 0 !important;
    grid-gap: 0.6rem;
    justify-content: space-between;
}

.gallery > .gallerybox {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.gallery > .gallerybox, .thumbinner > .thumbcaption {
    font-size: 0.9em !important;
}

.thumb {
    border: none !important;
    background-color: #FFF !important;
}

.toc {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.infobox {
    padding: 0.2rem !important;
}

.wikitable {
    background-color: #FFF;
}

.wikitable tbody {
    border-radius: .5rem;
    border: none;
    display: block;
    border-collapse: separate;
}

.wikitable > * > tr > td, .wikitable > * > tr > th {
    border: none !important;
    border-radius: 0.5rem;
}

tbody tr:last-child {
    border-bottom-right-radius: 10px;
}

img {
    border-radius: 0.5rem;
    border: none !important;
    max-width: 100%;
}

th.infobox-above, td.infobox-below {
    border-radius: 0.5rem;
}

#left-navigation .mw-list-item, #right-navigation .mw-list-item, #right-navigation .vector-menu-checkbox, #left-navigation .vector-menu-checkbox {
    background-image: none !important;
    background-color: #FFF !important;
    display: table;
    text-align: center;
    width: fit-content;
    padding: 0;
    margin: 0 0.4rem 0 0;
}

.vector-search-box-input {
    border-radius: 0 !important;
    border-color: #FFF !important;
    border-width: 0;
    transition: border-bottom-color 1s;
}

.vector-search-box-input:focus {
    border-bottom: 1px solid #A2A9B1 !important;
}

.vector-search-box {
    margin-right: 0 !important;
}

.vector-search-box-input:focus-visible, .vector-search-box-input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.vector-search-box:focus-visible, .vector-search-box div:focus-visible {
    box-shadow: none !important;
    outline: none !important;
}

.simpleSearch:focus-visible, #searchform:focus-visible {
    outline: none;
}

.mw-list-item a, .vector-menu-checkbox, .vector-menu-dropdown, .vector-menu-heading {
    text-align: center;
    background-position: center !important;
    background-image: none !important;
    background-size: auto;
}

.vector-menu-heading {
    padding-right: 1.8em !important;
}

#mw-head:not(.emptyPortlet) .vector-menu:not(.emptyPortlet) {
    display: flex !important;
    align-items: center !important;
    background-image: none !important;
}

.emptyPortlet {
    display: none !important;
}